<header class="header">
  <div class="header-content">
    <span>
      <img src="https://firebasestorage.googleapis.com/v0/b/storysocial-23aa1.appspot.com/o/Logo_2020-01%20(1).png?alt=media&token=a3cbe8d8-83bf-4dcc-9d7f-914c4260d512" class="logo-img" />
    </span>
    <nav>
    <a routerLink="/home" routerLinkActive="active" style="color: black;">Home</a>
    <a routerLink="/profile" routerLinkActive="active" style="color: black;">Profile</a>
    <a routerLink="/login" routerLinkActive="active" style="color: black;">Logout</a>
    </nav>
  </div>
</header>
