<header class="header">
  <div class="header-content">
    <span style="display: flex; align-items: center; gap: 1.2rem;">
  <img src="https://firebasestorage.googleapis.com/v0/b/storysocial-23aa1.appspot.com/o/Franjojo%20Astronaut%20Adventure.png?alt=media&token=7cf24af6-c970-479b-9ff4-f1d834a6030a" class="logo-img" />
      <span class="header-title" style="font-size: 2rem; font-weight: 700; color: #2ecc40; font-family: 'Montserrat', Arial, sans-serif;">My stories</span>
    </span>
    <nav style="display: flex; align-items: center; gap: 1.2rem;">
  <a routerLink="/home" routerLinkActive="active" style="color: black;">Home</a>
  <a routerLink="/profile" routerLinkActive="active" style="color: black;">Profile</a>
  <a routerLink="/create-story" routerLinkActive="active" style="color: black;">Create new story</a>
  <a routerLink="/login" routerLinkActive="active" style="color: black;">Logout</a>
    </nav>
  </div>
</header>
